*{
  padding: 0;
  margin: 0;
}

body {
  background: #c3c6a0;
}
:root {
  --green: #28a745;
  --white: #ffffff;
  --lightGreen: #00FF00;
  --lemon: #FFFF66;
}
.top-nav {
  padding: 1.2% 12%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #c3c6a0;
  z-index: 1;
}

.top-nav ul li{
  padding: 0 10px;
}

.top-nav ul li a{
  text-decoration: none;
  color: var(--white);
  display: inline-block;
}

.top-nav ul li img {
  width : 170px;
  height : 60px;
  margin-right: 550px;
}

.top-nav ul li a:hover {
  border-bottom: 3px solid var(--green);
  padding-bottom: 5px;
}

.top-container {
  height: 400px;
  padding: 12% 7% 7%;
  text-align: center;
  color: 000069;
  background: var(--white);
}

.mid-container {
  height: 1020px;
  background: #c3c6a0 ;
}

.mid-container .card-view{
  padding: 5% 14%;
  display: flex;
  justify-content: space-evenly;
}

.mid-container .card-view .card {
  width: 15rem;
  height: 18rem;
  background: #fff ;
  border: 1px solid #111;
}

.after-card-view {
  padding: 5% 14%;
  display: flex;
  justify-content: space-evenly;
}

.after-card-view .map {
  width: 500px;
  height: 500px;
  background: var(--white);
  border: 1px solid #111;
}

.after-card-view .contact-form {
  width: 500px;
}

.after-card-view .contact-form button {
  padding: 2% 8%;
  border-radius: 50px;
  border: 1px solid var(--lightGreen);
  background: #c3c6a0;
  color: var(--white);
}

.after-card-view .contact-form button:hover {
  color: #000069;
  border: 1px solid #c3c6a0;
}

footer {
  height: 300px;
  padding-top: 7%;
  text-align: center;
  color: #000069;
  background: #c3c6a0;
}

footer .icons {
  padding: 10px;
}

footer .icons i {
  padding: 5px 10px;
  font-size: 40px;
}

.navbar {
  padding: 0 0;
  float:left;
  position: relative;

}

.navbar-brand {
  font-size: 3rem;
  padding-left:10px;
}

.nav-item {
  padding: 0 2px;
  margin: 0 10px;
  text-align: center;
  background-color: transparent;
  opacity: 0.75;
  border: 3px solid;
  border-radius: 5px;
  color:rgb(7, 7, 7);
}

.nav-link {
  font-size: 1.2rem;
}